@{
    ViewBag.Title = "Sorteios";
    ViewBag.QtdRestaurantes += 1;
}

<h2>Com fome?</h2>

<h3 id="feedback">Sorteando entre @ViewBag.QtdRestaurantes restaurantes...</h3>

<br />
<p><button onclick="ObterFormulario()" class="btn btn-success btn-lg"> Reservar</button></p>

<form hidden="hidden" id="FazerReserva" action="javaScript:ReservaJson()" method="POST">
    <fieldset>

        <legend>Reserva</legend>

        <div class="control-group">
            <div class="controls">
                <input id="textinput" name="IdRestaurante" type="hidden" class="input-xlarge" value="1">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="textinput">Lugares</label>
            <div class="controls">
                <input id="textinput" name="Lugares" type="number" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="textinput">Vagas de estacionamento</label>
            <div class="controls">
                <input id="textinput" name="VagasEstacionamento" type="number" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="textinput">Dia da reserva</label>
            <div class="controls">
                <input id="textinput" name="Data" type="date" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input id="textinput" name="Reservar" type="submit" class="btn btn-success btn-lg">
            </div>
        </div>

    </fieldset>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/haversine")
    <script>
        var qtdRestaurantes = @ViewBag.QtdRestaurantes;

        var feedback = $('#feedback');

        var gerarRandomico = function (min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        };

        var distancia = function (coord1, coord2) {
            return haversine(coord1, { latitude: coord2.Latitude, longitude: coord2.Longitude }, { unit: 'km' });
        };

        var round = function(n) {
            return Math.round(n * 100) / 100;
        };

        navigator.geolocation.getCurrentPosition(
            function success(resultado) {

                var posicaoAtual = resultado.coords;

                $.get('@Url.Action("Restaurantes", "Restaurantes")')
                        .done(function(response) {

                            response.restaurantes.sort(function(r1, r2) {

                                if (r1.Localizacao !== null && r2.Localizacao !== null) {
                                    var distancia1 = distancia(posicaoAtual, r1.Localizacao);
                                    var distancia2 = distancia(posicaoAtual, r2.Localizacao);
                                    return distancia1 > distancia2;
                                }
                            });

                            var random = gerarRandomico(0, response.restaurantes.length);
                            // sorteia de forma aleatória mas só escolhe entre os 10 mais próximos
                            var escolhido = response.restaurantes[random % 10];
                            feedback.text(escolhido.Nome + ' ' + round(distancia(posicaoAtual, escolhido.Localizacao)) + ' km');

                            console.log(response.restaurantes);

                            $('[type = hidden]').attr('Value', escolhido.Id);
                        });
            },
                function error(err) {
                    console.error(err);
                },
                { enableHighAccuracy: true, timeout: 5000, maximumAge: 0 }
            );

        function ReservaJson(){
            var dados = $('form[id=FazerReserva]').serialize();
            $.ajax({
                url:'@Url.Action("Reservas", "Reservas")',
                dataType: 'JSON',
                type: 'POST',
                data: dados
            })
                .done(function(res)
                {
                    console.log(res);
                    alert("Reservado!");
                })
                .fail(function(res)
                {
                    console.log(res)});
        }

        function ObterFormulario(){

            $('form[id=FazerReserva]').removeAttr('hidden');
        };
    </script>
}